* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #1e293b;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
}

.painel {
  width: 100%;
  max-width: 500px;
  background: #0f172a;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #38bdf8;
  font-size: 22px;
}

.contador {
  margin-bottom: 20px;
}

.contador p {
  margin: 5px 0;
}

.formulario {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.formulario input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#btnRegistrar {
  padding: 10px;
  border: none;
  background: #38bdf8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#listaLivros {
  list-style: none;
}

#listaLivros li {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.atrasado {
  border-left: 5px solid red;
}

.status {
  color: #f87171;
  font-weight: bold;
}

.btn-remover {
  margin-top: 10px;
  padding: 8px;
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
